.site-footer {
	background: $color__background-footer;
	color: $color__text-footer;
    @include paddingbottom(1);
	@include paddingtop(3);

	a,
	a:visited {
		color: $color__link-footer;
	}

	a:hover {
		color: $color__link-footer-hover;
	}
	
	.widget-title {
		color: $color__text-footer;
	}
}

.copy {
	background-color: $color__background-copy;
	color: $color__text-copy;
	font-size: .85rem;
	@include paddingbottom(1);
	@include paddingtop(1);

	a,
	a:visited {
		color: $color__link-copy;
	}
	a:hover {
		color: $color__link-copy-hover;
	}
}

.site-info {
	text-align: center;
}

.copy-menu {
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		width: 100%;

		li {
			padding-left: 1em;
			&:first-child {
				padding-left: 0;
			}
		}
	}
}

@media screen and (min-width: 62em) {
	.site-info {
		text-align: left;
	}
	.copy-menu {
		ul {
			justify-content: right;
		}
	}
}