.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.archive,
.blog,
.error404,
.search,
.single {
	.site-main,
	.widget-area {
		@include margintop(3);
	}
	article {
		@include marginbottom(3);

		&:last-of type {
			@include marginbottom(1.5);
		}
	}
}

.updated:not(.published) {
	display: none;
}

.entry-title {
	font-family: 'Noto Serif', serif;
	margin-top: calc(#{$global__vertical-spacing} / 4);
	a, a:visited {
		color: $color__entry-title;
	}
	a:hover {
		color: $color__entry-title-hover;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.read-more-link {
	display: inline-block;
	@include marginbottom(1);
	@include margintop(1);
}

.entry-footer {
	font-size: .95rem;
	span {
		padding-right: 1em;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	@include marginbottom(1);
}

.entry-content,
.entry-content-builder {
	h1, h2, h3 {
		margin-bottom: $global__vertical-spacing;
		margin-bottom: calc(#{$global__vertical-spacing} / 2);
	}
	p {
		margin-bottom: $global__vertical-spacing;
	}

}
