input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__accent-secondary;
	padding: .625rem;
	margin-top: .3125rem;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.search-form {
	position: relative;

	input {
		width: 100%;
		margin-top: 0;
		padding: 10px 5px;
		padding-right: 55px;
		font-size: 1rem;
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		margin-top: 0;
		border: none;
		width: 50px;
		color: #b7b7b7;
		background-color: $color__accent;
		cursor: pointer;
		&:hover {
			background: $color__accent-hover;
		}
	}

	svg {
		fill: #fff;
		height: 2rem;
		width: 2rem;
	}
}
