$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: #fff;
$color__background-footer: #262626;
$color__backgorund-copy:  #212121;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__text-headings: #454c56;
$color__text-footer: #999;
$color__text-copy: #999;

$color__link: #3b5ec7;
$color__link-visited: #3b5ec7;
$color__link-hover: #191970;
$color__link-footer: #c4c4c4;
$color__link-footer-hover: #fff;
$color__link-copy: #727272;
$color__link-copy-hover: #fff;

$color__entry-title: #454c56;
$color__entry-title-hover: #2f131e;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-header: #ccc;
